header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
#title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 1rem;
    background-color: white;
}
#tab-menu {
    background-color: rgba(220, 255, 81, 0.226);
}
#tab-menu > button {
    font-size: 1rem;
    padding: 1rem;
}
#tab-menu > button:hover {
    background-color: rgb(255, 196, 216);
}
